body,
html,
	{
	height: 100%;
	min-height: 100%;
	margin: 0;
}

.navbar-header {
	text-align: center;
	width: 100%;
}

.navbar-default {
	height: 60px;
	margin-top -20px;
	width: 100%;
	box-shadow: 5px 5px 5px darkgrey;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 1;
}

.container-fluid {
	background-color: #E6E6E6;
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
	padding: 10px auto;
}


.test {
	width: 100%;
	height: 19vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: 20px;
	box-shadow: 5px 5px 5px darkgrey;
}

.box-right {
	margin: 20px 0;
	height: 89vh;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 3px 3px 3px darkgrey;
	position: -webkit-sticky;
	/* Safari */
	position: sticky;
	top: 80px;
}

.box-size-right {
	height: 100%;
	width: 100%
}


/* Centered text */
.centered {
	position: absolute;
	top: 50%;
	left: 57%;
	transform: translate(-50%, -50%);
	color: white;
	font-weight: 900;
}



@media screen and (max-width: 640px) {
	.test {
		width: 90%;
	}

	.box-right {
		margin: 20px 0;
		height: 40vh;
		width: 100%;
	}

	.box-size-right {
		width: 100%;
		margin: 20px 0;
	}

	.centered {
		left: 50%;
	}
}
