html,
body {
	text-align: center;
	background: url('../../images/bg.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.container-fluid {
	background-color: #E6E6E6;
}

.box-right {
	margin: 20px;
	height: 89vh;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 1px 1px 3px darkgrey;
	position: -webkit-sticky;
	/* Safari */
	position: sticky;
	top: 80px;
}

.box-size-right {
	height: 100%;
	width: 100%
}

/* Centered text */
.centered {
	position: absolute;
	font-family: 'Circular Std Black';
	font-size: 1.5em;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-weight: 900;
	text-align: center;
}

@media screen and (max-width: 640px) {
	.box-right {
		margin: 20px;
		height: 40vh;
		width: 90%;
	}
}

header {
	height: 100vh;
}

@media (min-width:260px) {
	header.masthead {
		padding: 6rem 0;
	}

	header.masthead h1 {
		font-size: 3rem;
	}
}

@media (min-width:768px) {
	header.masthead {
		padding-top: 12rem 0;
	}

	header.masthead h1 {
		font-size: 3rem
	}
}

.showcase-text {
	padding: 3rem
}

section {
	color: black;
}

.section-heading {
	text-transform: uppercase;
}

.section-heading .section-heading-upper {
	display: block;
	font-size: 1.5rem;
	font-weight: 900;
}

.bg-faded {
	background-color: rgba(255, 255, 255, 0.85);
}

.intro {
	position: relative;
}

@media (min-width: 992px) {
	.intro .intro-text {
		left: 0;
		width: 60%;
		margin-top: 3rem;
		position: absolute;
	}
}

@media (min-width: 1200px) {
	.intro .intro-text {
		width: 45%;
	}
}


.btn {
	margin-top: .8rem;
	height: 3rem;
	color: white;
	background-color: #ED6665;
}
